body {
    font-family: 'Poppins';
}

form label {
    color: #6c55c9;
    font-weight: 400;
}

.container {
    margin: 20px;
    width: 100%;
}

.navbar {
    background-color: #6c55c9;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar a.navbar-brand {
    color: #d4bbfc;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Poppins';
}

.navbar-collapse ul li a {
    color: #d4bbfc;
    font-family: 'Poppins';
}

/* style.css */
.card {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-header {
    height: 60px;
    background-color: #6c55c9;
    color: #d4bbfc;
    vertical-align: middle;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/** Buttons */

.btn-cadastrar {
    background-color: #006d77;
    color: #fff;
}

.btn-cadastrar:hover {
    background-color: #006d77;
    color: #fff;
}

/** */
.select {
    border: 0;
    border-radius: 8px;
    background-color: transparent;
}

.select2-selection__rendered {
    height: 46px;
    display: hidden;
    padding: 22px;
    background-color: #e6f2ff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.select2-container--default .select2-selection--multiple {
    padding: 20px;
    border: 0;
    /* border: 2px solid #6c55c9; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #e6f2ff;
}

.select2-results__options {
    border: 0;
}

.select2-container--open .select2-dropdown--below {
    border: 0;
}

.select2-results__option {
    background-color: #e6f2ff;
    color: #6c55c9;
    height: 40px;
    margin-top: 4px;
    border-radius: 4px;
    font-weight: 500;
}

.select2-container--default {
    border: 0;
    border-radius: 8px;
    display: hidden;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0;
}

.select2-selection--multiple {
    border: .1rem solid #6c55c9;
    border-radius: 4px;
}

li.select2-results__option {
    background: #6c55c9;
}

li.select2-results__option[aria-selected="true"] {
    background-color: #f1edff;
    color: #6c55c9;
}

li.select2-results__option[aria-selected="false"] {
    background-color: #6c55c9;
    color: #f1f5f7;
}

.select2-results__option--highlighted {
    background-color: #6c55c9;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #d4bbfc;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
    padding-top: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 8px;
    border: 0;
    margin: 6px 4px;
    min-width: 90px;
    color: #d4bbfc;
    font-weight: 500;
    background-color: #6c55c9;
    height: 32px;
}