body {
    background-image: linear-gradient(to right, #051E22, #0a171a, #051E22);
    /* background-color: #051E22; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

input, textarea {
    background-color: transparent !important;
    color: #6FFFE9;
    border: 1px solid #6FFFE9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

textarea#descricao, input#titulo, input#url {
    background-color: transparent !important;
    color: #6FFFE9;
}

h1,h2,h3,h4,h5,h6{
    color: #6FFFE9;
}

.container-custom {
    padding: 20px;
}

/* Add this code to make the webkit scroll smaller */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow-x: none;
}

::-webkit-scrollbar-thumb {
    background-color: #144952;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent  !important;
}

iframe {
    border-radius: 20px;
    width: 100%;
    height: 600px;
}

video.video-padrao {
    border-radius: 20px;
    width: 100%;
    height: 620px;
    max-height: 620px;
}

.card {
    text-wrap: normal;
    border-radius: 20px;
    background-color:  transparent !important;
    cursor: pointer;
    color: #f0f8f0;
    border: 0 !important;
}

.card-selected {
    background-color: transparent !important;
    border: 1px solid #004346 !important;
    margin-top: 10px;
}

.card-list {
    background-color: #004346;
    border: 1px solid #004346 !important;
    margin-top: 10px;
}

/** Card Items são os items da lista de videos vertical**/
.card-items {
    background-color: #004346 !important;   
    text-wrap: normal;
    cursor: pointer;
    /* border: 1px solid #6FFFE9 !important; */
}

.card-items-selected {
    background-color: #004346 !important; 
    border: 1px solid #6FFFE9 !important;
}

.card .card-items:hover {
    background-color: #144952 ;
    border-radius: 20px; /* Add this line to apply border radius */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid #6FFFE9 !important; */
}

.card-content-scroll {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0px;
    margin-top: 10px;
    cursor: pointer;
}

.card-img-horizontal {
    width: 120px;
}

.navbar {
    background-color: transparent !important;
}

.icon-menu {
    color: #6FFFE9 !important;
}
.navbar-toggler {
    color: #192f30 !important;
    background-color: #022f31 !important;
    border-radius: 10px;
}

span.navbar-toggler-icon {
    color: #051E22 !important;
}

.navbar a {
    color: #6FFFE9;
}

.card-header {
    padding: 20px auto;
    background-color: #004346 !important ;
    border-radius: 20px 20px 0px 0px !important;
    border-bottom: 2px solid #6FFFE9;
}

.txt-transition-video {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.txt-reproduzindo, .txt-title-video{
    font-size: 14px;
    font-weight: 400;
}

.icon-sound {
    color: #6FFFE9;
    font-size: 14px;
    margin-left: 5px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.header-list {
    height: auto;
    background: linear-gradient(45deg, rgba(13, 27, 42, 0), rgba(13, 27, 42, 0.5));
}

.card-horizontal {
    display: inline-block;
    text-wrap: wrap;
    background-color: #004346;
    border: 1px solid #055e63;
    max-width: 300px;
    height: 480px; 
    color: #f0f8f0;
    border-radius: 20px;
    overflow: hidden; /* Garante que o conteúdo fique dentro das bordas arredondadas */
    margin: 0 5px 10px 5px; /* Centraliza o card */
}

.cfooter {
    background-color: #051E22 !important;
    border-radius: 0px 0px 20px 20px !important;
}

.card-content-scroll .card-horizontal:hover {
    padding: 0px;
    cursor: pointer;
    background-color: #004346;
    border: 1px solid #80d4d8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-horizontal .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas quebrem em telas menores */
    margin: 0; /* Remove margens padrão */
}

.card-horizontal .col-md-6 {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-horizontal .img-fluid {
    width: 100%;
    height: 200px;
    border-radius: 20px 0 0 20px; /* Mantém as bordas arredondadas no lado esquerdo */
}

.card-horizontal .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: inherit; /* Garante que a cor de fundo seja a mesma do card */
    border-radius: 0 20px 20px 0; /* Mantém as bordas arredondadas no lado direito */
}

.card-cadastro {
    background-color: #07191b !important;
    border: 1px solid #055e63 !important;
}

@media (max-width: 767.98px) {
    .card-horizontal {
        flex-direction: column;
        max-width: 100%; /* Permite que o card ocupe toda a largura da tela */
    }

    .card-horizontal .img-fluid {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0; /* Bordas arredondadas na parte superior */
    }

    .card-horizontal .card-body {
        border-radius: 0 0 20px 20px; /* Bordas arredondadas na parte inferior */
    }

    img {
        border-radius: 20px !important;
        background-size: 100%;
    }	

    .img-padrao {
        text-align: center;
    }
    
    .img-padrao img {
        max-width: 80%;
    }
}

img {
    border-radius: 20px 0 0 20px;
    background-size: 100%;
} 

/* Imagem thumbnail padrão nos vídeos de aba padrão */
.img-padrao img {
    width: 100%;
    height: auto;
    margin: 10px;
}

.btn-cadastrados {
    background-color: #055e63;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 240px;
    padding: 6px;
    border-radius: 10px;
    color: #6FFFE9;
    font-size: 14px;
    font-weight: 500;
    border: none !important;
}

.btn-cadastrados:hover, .btn-padrao:hover, .btn-cadastrar:hover, .btn-form-cadastrar:hover {
    background-color: #055e63;
    box-shadow: none;
    border-radius: 10px;
    color: #6FFFE9;
    font-size: 14px;
    font-weight: 500;
    border: none !important;
}

.btn-padrao {
    background-color: #055e63;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 10px;
    color: #6FFFE9;
    font-size: 14px;
    font-weight: 500;
    border: none !important;
}

.btn-cadastrar, .btn-form-cadastrar {
    background-color: #055e63;
    border: 0 !important;
    border-radius: 10px;
    font-size: 14px;
    color: #6FFFE9;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    font-weight: 500;
}

.btn-items-scroll {
    min-width: 120px;
    border-radius: 14px;
    color: #6FFFE9;
    background-color: transparent !important;
    margin-right: 6px;
    margin-bottom: 12px;
    border: 1px solid #055e63 !important;
    font-weight: 500;
    opacity: 0.9;
    transition: border-color 0.3s ease-in-out; 
}

.btn-items-scroll:hover {
    border-radius: 10px;
    color: #6FFFE9;
    background-color: #055e63 !important;
    border: 1px solid #6FFFE9 !important;
    margin-right: 6px;
    font-weight: 500;
    transition: border-color 0.3s ease-in-out;
}

.btn-item1-scroll, .btn-item2-scroll{
    border-radius: 10px;
    color: #6FFFE9 !important;
    background-color: #051E22;
    margin-right: 6px;
    margin-bottom: 12px;
    border: 1px solid #58dde4 !important;
    font-weight: 500;
    opacity: 0.9;
    transition: border-color 0.3s ease-in-out; 
}

.btn-voltar {
    background-color: transparent !important;
    color: #6FFFE9 !important;
}
